# OS
.DS_Store
Thumbs.db

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/

# Environments
venv/
.env
.env.*

# Editors/IDE
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Pip
pip-wheel-metadata/

# Coverage
coverage.xml
htmlcov/

# Misc
*.sqlite3
